.grid {
  width: 606px;
  height: 606px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.mole {
  /* background-color: blue;  */
  background-image: url("mole.jpg");
  background-size: cover;
}
